.idea
*.iml
/node_modules
_site
test/scratch/scratch.html
.DS_Store
.vscode
*.log
*.gz
node_modules
package-lock.json
/public/asset/*
/public/ftp/*

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn
.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*