
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .night{
        background-color: #555;
        }
        #landing{
        margin: 3rem;
        color: #eee;
        }
}